force-app/main/default/flows/Get_Country.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Selected_Variable_Assign</name>
        <label>Selected Variable Assign</label>
        <locationX>501</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>selectedcountry</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Country</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Country</targetReference>
        </connector>
    </assignments>
    <dynamicChoiceSets>
        <name>RecordChoiceSet</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>Loop_On_Country.Id</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Get Country {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Country</label>
    <loops>
        <name>Loop_On_Country</name>
        <label>Loop On Country</label>
        <locationX>674</locationX>
        <locationY>51</locationY>
        <collectionReference>Get_Country</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Select_Create_Country</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Country</name>
        <label>Get Country</label>
        <locationX>475</locationX>
        <locationY>51</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_On_Country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_Create_Country</name>
        <label>Select / Create Country</label>
        <locationX>686</locationX>
        <locationY>236</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Variable_Assign</targetReference>
        </connector>
        <fields>
            <name>Select_Country</name>
            <choiceReferences>RecordChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Country</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Country</name>
        <label>Selected Country</label>
        <locationX>325</locationX>
        <locationY>300</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ShowSelected</name>
            <fieldText>&lt;p&gt;{!selectedcountry}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Country</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>selectedcountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Select_Country</elementReference>
        </value>
    </variables>
</Flow>
